## 19-07-2024

Testing Jupyter Notebook

In [5]:
print("Hello World")

Hello World

In [2]:
input()

Namaste

'Namaste'

In [3]:
print('test')

test

# HEADING 1

## HEADING 2

### HEADING 3

#### HEADING 4

##### HEADING 5

###### HEADING 6

**Bold**

*Italic*

~Strikethrough~

***
print('Hello')
***

```python
print('Hello World')
x = 2
y = 1
print(x+y)
```

- Hello
    - indentation
1. Point 1
2. Point 2
3. Point 3

## Literals

In [6]:
1
1.2
'Shubh'

'Shubh'

In [9]:
integer = 1
flt = 1.2
string = 'Shubh'

In [10]:
print(integer, flt, string)

1 1.2 Shubh

In [11]:
integer

1

In [12]:
flt

1.2

In [13]:
string

'Shubh'

Take birth year and give age

In [14]:
dob = int(input('Enter your date of birth'))

Enter your date of birth2002

In [15]:
type(dob)

int

In [16]:
age = 2024 - dob
print(age)

22

In [10]:
a = 5
b = 10

In [8]:
a = a * 2
b = b//2

In [9]:
print(a,b)

10 5

In [11]:
c = a
a = b
b = c
print(a)
print(b)

10
5

In [12]:
a, b = 5, 2
b,a = a,b

In [1]:
roger_age, roger_income, roger_experience = 24, 10000, 7
print("Roger's Age =", roger_age)
print("Roger's Income =", roger_income)
print("Roger's Experience =", roger_experience)

Roger's Age = 24
Roger's Income = 10000
Roger's Experience = 7

# 23-07-2024

In [13]:
x = 'Shubh has a nice computer'

In [21]:
x[0:5]

'Shubh'

In [22]:
x[17:]

'computer'

In [23]:
my_string = "Hello, World!"

In [24]:
print(my_string[0:5])
print(my_string[7:])

Hello
World!

In [28]:
print(my_string[-8:-4])

, Wo

In [29]:
my_string[0: :2]

'Hlo ol!'

In [34]:
# Slice individual store it in a variable
# Reverse the new variable created
n = "We can access individual characters in a string using indexing, like this"

In [35]:
x = n.split()[3]

In [36]:
x[::-1]

'laudividni'

In [39]:
y = n.split()[-9]
y[::-1]

'laudividni'

### Addition

In [43]:
# Adding two integers

income = 100000
incentives = 10000
total_income = income + incentives
print(total_income)

110000

In [44]:
# adding one float and one integer values
income = 100000
incentives = 12550.50
total_income = income + incentives
print(total_income)

112550.5

In [45]:
# adding two strings
first_name = 'Mike'
last_name = 'Anderson'
full_name = first_name + ' ' + last_name
print(full_name)

Mike Anderson

In [46]:
# adding two strings
text = "Age is "
age = "22"
combine = text + age
print(combine)

Age is 22

### Subtraction

In [47]:
# subtracting two integers
income = 100000
tax = 2500
total_income = income - tax
print(total_income)

97500

In [48]:
# subtracting one float and one integer value
income = 100000
tax = 2550.75
total_income = income - tax
print(total_income)

97449.25

### Multiplication

In [49]:
# multiplication of two integers
unit_price = 20
total_units_purchased = 150
total_amount = unit_price * total_units_purchased
print(total_amount)

3000

In [50]:
# multiplication of one integer and one float value
unit_price = 12.2
total_units_purchased = 150
total_amount = unit_price * total_units_purchased
print(total_amount)

1830.0

In [55]:
# multiplication of string with integer
value = input("Enter a name")
count = int(input("No. of times to multiply the value "))
result = value * count
print(result)

Enter a nameSingapore
No. of times to multiply the value 3
Singapore Singapore Singapore

### Modulus

In [56]:
# using modulus operator to find the remainder
total_cost = 2700
quantity = 23
price_per_unit = total_cost % quantity
print(price_per_unit)

9

In [57]:
# using modulus operator to find the remainder
total_cost = 2700.50
quantity = 23
price_per_unit = total_cost % quantity
print(price_per_unit)

9.5

### Floor Division

In [58]:
# division operation to get quotient
# it is known as floor division
total_cost = 13000
quantity = 23
price_per_unit = total_cost // quantity
print(price_per_unit)

565

In [59]:
# division operation to get quotient
# it is known as floor division
total_cost = 12000.25
quantity = 23
price_per_unit = total_cost // quantity
print(price_per_unit)

521.0

### Exponentiation

In [60]:
# Squaring values
square_side = 20
area_of_square = square_side**2
print(area_of_square)

400

In [61]:
# cubing the values
cube_side = 20
volume_of_cube = cube_side**3
print(volume_of_cube)

8000

### Logical Operators

In [65]:
input_1 = int(input("Enter first number"))
input_2 = int(input("Enter second number"))
a = input_1 == input_2
print(a)

Enter first number24
Enter second number24
True

In [66]:
input_1 = int(input("Enter first number"))
input_2 = int(input("Enter second number"))
b = input_1 < input_2
print(b)

Enter first number13
Enter second number56
True

In [68]:
input_1 = int(input("Enter first number"))
input_2 = int(input("Enter second number"))
c = input_1 > input_2
print(c)

Enter first number15
Enter second number78
False

In [69]:
input_1 = int(input("Enter first number"))
input_2 = int(input("Enter second number"))
d = input_1 <= input_2
print(d)

Enter first number36
Enter second number66
True

In [70]:
input_1 = int(input("Enter first number"))
input_2 = int(input("Enter second number"))
e = input_1 >= input_2
print(e)

Enter first number34
Enter second number55
False

In [72]:
f = type(a) == type(b)
print(f)

True

In [73]:
g = type(a) is type(b)
print(g)

True

In [74]:
h = type(a) is not type("Shubh")
print(h)

True

In [77]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
a += b
print(a)

Enter a number27
Enter a number44
71

In [78]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
a *= b
print(a)

Enter a number14
Enter a number5
70

In [79]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
a /= b
print(a)

Enter a number14
Enter a number7
2.0

In [80]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
a %= b
print(a)

Enter a number25
Enter a number4
1

In [81]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
a **= b
print(a)

Enter a number5
Enter a number2
25

In [83]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
a //= b
print(a)

Enter a number60
Enter a number15
4

## Control Flow Statements
### - **If**

In [85]:
# one input and check if it is even

number = int(input("Enter a number: "))

even = number%2 == 0
if even:
    print("Even")
else:
    print("Odd")
    
print("End of Program")

Enter a number: 62
Even
End of Program

In [86]:
# one input and check if it is odd

number = int(input("Enter a number: "))

odd = number%2 != 0
if even:
    print("Odd")
else:
    print("Even")
    
print("End of Program")

Enter a number: 5
Odd
End of Program

In [91]:
#WAP to take input from user and print:
#fizz if the number is divisible by 3
#buzz if it is divisible by 5
#fizzbuzz if divisible by both
#else print not divisible

number = int(input("Enter a number: "))

if number%3 == 0 and number%5 == 0:
    print("Fizzbuzz")
elif number%5 == 0:
    print("buzz")
elif number%3 == 0:
    print("fizz")
else:
    print("Not divisible")
print("End of program")

Enter a number: 15
Fizzbuzz
End of program

In [94]:
# Grader
#a >= 90
#b = 80 - 90
#c = 80 - 60
#d = 60 - 50
#e = 50 - 35
#fail =< 35

grader = int(input("Enter the marks: "))

a = grader > 90 and grader <= 100
b = grader <= 90 and grader > 80
c = grader <= 80 and grader > 60
d = grader <= 60 and grader > 50
e = grader <= 50 and grader > 35

if a:
    print("A")
elif b:
    print("B")
elif c:
    print("C")
elif d:
    print("D")
elif e:
    print("E")
else:
    print("Fail")
    
print("End of program")

Enter the marks: 45
E
End of program

# 24/07/2024

In [6]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [11]:
# two strings first name & full name, return the index of the first occurence of firstname string in fullname string, or
# -1 if firstname is not part of fullname

firstname = input("Enter First Name: ")
fullname = input("Enter Full Name: ")

fullname.find(firstname)

Enter First Name: Hannah
Enter Full Name: Hannah Anna

0

## List

In [12]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
list1 = [1, 5, 12, 55, "Hello World", "Shubh", [2,4,5]]

In [14]:
print(list1)

[1, 5, 12, 55, 'Hello World', 'Shubh', [2, 4, 5]]

In [17]:
list1.append("")
print(list1)

[1, 5, 12, 55, 'Hello World', 'Shubh', [2, 4, 5], '', '', '']

In [32]:
list1.clear()

In [19]:
print(list1)

[]

In [24]:
list2 = list1.copy()

In [25]:
list2

[1, 5, 12, 55, 'Hello World', 'Shubh', [2, 4, 5]]

In [28]:
list1.count(5)

1

In [34]:
list1.extend(["Nice Car"])

In [35]:
print(list1)

[1, 5, 12, 55, 'Hello World', 'Shubh', [2, 4, 5], 'Nice Car']

In [38]:
list1.index(5)

1

In [40]:
list1.insert(3,"Handsome boy")
print(list1)

[1, 5, 12, 'Handsome boy', 55, 'Hello World', 'Shubh', [2, 4, 5], 'Nice Car']

In [44]:
list1.reverse()

In [45]:
list1

['Nice Car', [2, 4, 5], 'Shubh', 'Hello World', 55, 'Handsome boy', 12, 5, 1]

## Tuple

Tuple is default python data structure

In [46]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Dictionary

In [48]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [50]:
dictionary = {"Key1": [1,2,3], "Key2": "Shubh", "Key3": ["Shubh",12]}

In [51]:
type(dictionary)

dict

### f format

In [52]:
my_tuple = (1, 2, 3)
print(f"Element at index 0: {my_tuple[0]}")

Element at index 0: 1

## Control Flow Statements
### - **Loops**

#### **For Loop** : Used for finite number of times
#### **While Loop** : Used for infinite number of times

In [53]:
# all values from 0 to 10
list1 = []

for i in range(0,11):
    list1.append(i)
    
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
# all even numbers from 0 to 10
list2 = []

for i in range(0,11,2):
    list2.append(i)
    
print(list2)

[0, 2, 4, 6, 8, 10]

In [57]:
# all odd numbers from 0 to 10
list3 = []

for i in range(1,11,2):
    list3.append(i)
    
print(list3)

[1, 3, 5, 7, 9]

In [58]:
string = 'HELLO World'
vowels = 'aeiou'

for letter in string.lower():
    if letter in vowels:
        print(f'Vowel {letter}')
    else:
        print(f'Consonant {letter}')
    print(letter)

Consonant h
h
Vowel e
e
Consonant l
l
Consonant l
l
Vowel o
o
Consonant

Consonant w
w
Vowel o
o
Consonant r
r
Consonant l
l
Consonant d
d

In [63]:
string = 'HELLO World'
vowels = 'aeiou'

for letter in string.lower():
    if letter in vowels:
        print(f'Vowel {letter}')
    else:
        print(f'Consonant {letter}')
    print(letter)

Consonant h
h
Vowel e
e
Consonant l
l
Consonant l
l
Vowel o
o
Consonant

Consonant w
w
Vowel o
o
Consonant r
r
Consonant l
l
Consonant d
d

In [65]:
# create a for loop and add numbers 20 to 30 in a list
list1 = []

for i in range(20,31):
    list1.append(i)
    
print(list1)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [67]:
# take input from user and print its multiplication table for first 10 numbers
num = int(input("Enter a number: "))

for i in range(1,11):
    print(f'{i} * {num} = {num*i}')

Enter a number: 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [74]:
# WAp to add all multiples of 5 between 1-100 in a list

list2 = []

for i in range(1,101):
    div = i%5 == 0
    if div:
        list2.append(i)
print(list2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [77]:
even = []
odd = []

for i in range(101):
    if i%2 == 0:
        even.append(i)
    elif i%2 !=0:
        odd.append(i)
        
print(f'Even Numbers: {even}')
print(f'Odd Numbers: {odd}')

Even Numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd Numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [84]:
# number guessing game
import random

random_number = random.randint(1,10)
print(random_number)
for i in range(5):
    ui = int(input("Guess a Number: "))
    if ui == random_number:
        print("You Guessed It Correctly")
        break
    elif ui > random_number:
        print("You Guessed on a Higher Side")
    else:
        print("You Guessed on a Lower Side")
    print(f'You have {4-i} chances left')
print("Thank You for Playing")

6
Guess a Number: 4
You Guessed on a Lower Side
You have 4 chances left
Guess a Number: 8
You Guessed on a Higher Side
You have 3 chances left
Guess a Number: 6
You Guessed It Correctly
Thank You for Playing

# 25/07/2024

## Control Flow Statements
## **Nested Loop**

In [14]:
# WAP for 1-10 multiplication table for 1-10

for i in range(1,11):
    print(f"Multiplication table of {i}:")
    for j in range(1,11):
        print(i*j,end='\t')
    print('\n')

Multiplication table of 1:
1	2	3	4	5	6	7	8	9	10

Multiplication table of 2:
2	4	6	8	10	12	14	16	18	20

Multiplication table of 3:
3	6	9	12	15	18	21	24	27	30

Multiplication table of 4:
4	8	12	16	20	24	28	32	36	40

Multiplication table of 5:
5	10	15	20	25	30	35	40	45	50

Multiplication table of 6:
6	12	18	24	30	36	42	48	54	60

Multiplication table of 7:
7	14	21	28	35	42	49	56	63	70

Multiplication table of 8:
8	16	24	32	40	48	56	64	72	80

Multiplication table of 9:
9	18	27	36	45	54	63	72	81	90

Multiplication table of 10:
10	20	30	40	50	60	70	80	90	100

In [17]:
# create a pyramid star pattern
# *
# **
# ***
# ****

n = int(input("Enter a number: "))

for i in range(1,n):
    print(i*'*', end='')
    print()

Enter a number: 5
*
**
***
****

In [29]:
# print sum of numbers from 1 to 10 using for loop
total = 0

for i in range(1,11):
    total += i
print(total)

55

In [32]:
# Print the first 5 multiples of 5 using a for loop.

number = 5
for i in range(1,6):
    print(f'{number} * {i} = {number*i}')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [34]:
# Print the first 10 multiples of 3 using a for loop.

number = 3
for i in range(1,11):
    print(f'{number} * {i} = {number*i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [46]:
# Print the product of numbers from 1 to 5 using a for loop.

for i in range(1,6):
    print(f'Multiplication of {i}')
    for j in range(1,6):
        print(f'{i} * {j} = {i*j}', end = '\t')
    print('\n')

Multiplication of 1
1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5

Multiplication of 2
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10

Multiplication of 3
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15

Multiplication of 4
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20

Multiplication of 5
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25

In [51]:
# Print the factorial of 5 using a for loop.
product = 1

for i in range(1,6):
    product *= i
print(product)

120

In [89]:
# Print the Fibonacci sequence up to 10 using a for loop.

num1, num2 = 0, 1

for num3 in range(0,11):
    num3 = num1 + num2
    num1,num2 = num2,num3
    print(num3, end = '\t')

1	2	3	5	8	13	21	34	55	89	144

In [91]:
# list comprehension

list_comp = [x for x in range(1,1001)]
print(list_comp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [92]:
string = 'Hello World'

lst2 = list(range(101))

lst = [letter for letter in string]

lst3 = [i*2 for i in lst2]

print("Hello World String:")
print(lst)

print("List of first 100 Numbers:")
print(lst2)

print("List of first 100 Numbers * 2:")
print(lst3)

Hello World String:
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
List of first 100 Numbers:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
List of first 100 Numbers * 2:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [93]:
import random

guests = [random.randint(1,90) for i in range(100)]

entry = [i for i in guests if i>=18]

In [94]:
print(entry)

[66, 49, 62, 38, 88, 68, 54, 90, 47, 69, 69, 72, 82, 85, 85, 68, 50, 62, 60, 60, 42, 83, 23, 65, 27, 49, 76, 83, 44, 22, 63, 59, 66, 47, 54, 26, 33, 56, 46, 35, 29, 24, 18, 38, 33, 78, 72, 62, 44, 56, 60, 50, 33, 82, 30, 43, 60, 62, 36, 70, 69, 90, 62, 33, 19, 89, 43, 88, 57, 50, 88, 66, 32, 69, 53, 68, 43, 44, 21, 77, 52, 23, 24, 71, 37]

In [96]:
number = [random.randint(200,301) for _ in range(100)]

mult_6 = []
mult_11 = []

for i in range(100):
    if i%6 == 0:
        mult_6.append(i)
    elif i%11 ==0:
        mult_11.append(i)
    else:
        number.append(i)
        
print("Multiples of 6:")
print(mult_6)

print("Multiples of 11:")
print(mult_11)

print("Other Numbers")
print(number)

Multiples of 6:
[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
Multiples of 11:
[11, 22, 33, 44, 55, 77, 88, 99]
Other Numbers
[241, 247, 270, 256, 250, 223, 203, 206, 272, 272, 245, 221, 210, 213, 236, 264, 272, 203, 245, 243, 294, 209, 220, 235, 217, 291, 229, 218, 229, 237, 266, 279, 207, 233, 231, 294, 256, 252, 217, 209, 292, 220, 217, 275, 254, 268, 254, 202, 253, 267, 217, 240, 224, 287, 208, 284, 214, 295, 230, 255, 245, 220, 301, 244, 286, 263, 249, 219, 224, 250, 225, 273, 221, 264, 249, 288, 265, 293, 254, 239, 288, 261, 223, 298, 247, 207, 283, 208, 244, 293, 288, 299, 261, 295, 214, 206, 273, 258, 294, 230, 1, 2, 3, 4, 5, 7, 8, 9, 10, 13, 14, 15, 16, 17, 19, 20, 21, 23, 25, 26, 27, 28, 29, 31, 32, 34, 35, 37, 38, 39, 40, 41, 43, 45, 46, 47, 49, 50, 51, 52, 53, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 79, 80, 81, 82, 83, 85, 86, 87, 89, 91, 92, 93, 94, 95, 97, 98]

In [100]:
number1 = [random.randint(200,301) for _ in range(100)]

multi_6 = [i for i in number1 if i%6==0]
multi_11 = [i for i in number1  if i%11==0]

print("Multiples of 6:")
print(multi_6)

print("Multiples of 11:")
print(multi_11)

print("Other Numbers:")
print(number1)

Multiples of 6:
[294, 210, 210, 240, 222, 288, 300, 300, 234, 228, 264, 270]
Multiples of 11:
[275, 242, 209, 209, 286, 297, 220, 231, 209, 231, 264, 231, 297, 231]
Other Numbers:
[294, 203, 227, 235, 259, 218, 256, 267, 244, 275, 242, 209, 260, 210, 289, 233, 227, 210, 209, 203, 286, 271, 223, 248, 278, 232, 205, 236, 263, 301, 278, 277, 297, 251, 274, 256, 256, 254, 212, 226, 247, 251, 202, 285, 220, 226, 211, 301, 291, 230, 231, 269, 203, 240, 265, 248, 224, 222, 292, 208, 299, 257, 237, 209, 221, 288, 238, 243, 289, 203, 292, 217, 231, 290, 268, 291, 233, 300, 260, 300, 295, 229, 256, 234, 244, 228, 264, 293, 238, 231, 225, 229, 278, 297, 245, 201, 231, 255, 270, 236]

## While Loop

In [102]:
# while loop to create a list of first 10 numbers
counter = 0

while counter<=10:
    print(counter, end='\t')
    counter+=1

0	1	2	3	4	5	6	7	8	9	10

In [104]:
# while loop to create a list of first 10 numbers in reverse

reverse = 10

while reverse<=10:
    print(reverse,end='\t')
    reverse-=1
    if reverse == 0:
        break

10	9	8	7	6	5	4	3	2	1

In [106]:
reverse1 = 10
while reverse1 >=1:
    print(reverse1, end=' ')
    reverse1 -=1

10 9 8 7 6 5 4 3 2 1

In [110]:
# reverse the string using while loop
string = 'Hello World'
reversed_string = ""
size = len(string)

while True:
    if size == 0: break
    reversed_string = reversed_string + string[size-1] 
    size-=1
    
print(reversed_string)

dlroW olleH

# 26/07/2024

## Modularizing Codes

### Creating Functions

In [1]:
# Create a function to add two numbers

def add(num1, num2):
    """This is the function to add 2 numbers"""
    s = num1 + num2
    return(s)

# Testing the function
add(5,6)

11

In [2]:
help(add)

Help on function add in module __main__:

add(num1, num2)
    This is the function to add 2 numbers

In [3]:
# Create a function to subtract two numbers

def sub(num1, num2):
    """This is the function to subtract 2 numbers"""
    subtr = num1 - num2
    return(subtr)

# Testing the function
sub(11,6)

5

In [4]:
help(sub)

Help on function sub in module __main__:

sub(num1, num2)
    This is the function to subtract 2 numbers

In [5]:
# Create a function to divide two numbers

def div(num1, num2):
    """This is the function to divide 2 numbers"""
    d = num1/num2
    return(d)

# Testing the function
div(12,6)

2.0

In [6]:
help(div)

Help on function div in module __main__:

div(num1, num2)
    This is the function to divide 2 numbers

In [7]:
# Create a function to find exponent of a number

def exp(num1, num2):
    """This is the function to find exponent of a number"""
    e = num1**num2
    return(e)

# Testing the function
exp(5,6)

15625

In [8]:
help(exp)

Help on function exp in module __main__:

exp(num1, num2)
    This is the function to find exponent of a number

In [9]:
# Create a function to multiply two numbers

def mult(num1, num2):
    """This is the function to multiply 2 numbers"""
    p = num1*num2
    return(p)

# Testing the function
mult(5,6)

30

In [10]:
help(mult)

Help on function mult in module __main__:

mult(num1, num2)
    This is the function to multiply 2 numbers

### Creating a library of functions

In [12]:
%%writefile test_math.py

# Create a function to add two numbers
def add(num1, num2):
    """This is the function to add 2 numbers"""
    s = num1 + num2
    return(s)

# Create a function to subtract two numbers
def sub(num1, num2):
    """This is the function to subtract 2 numbers"""
    subtr = num1 - num2
    return(subtr)

# Create a function to multiply two numbers
def mult(num1, num2):
    """This is the function to multiply 2 numbers"""
    p = num1*num2
    return(p)

# Create a function to divide two numbers
def div(num1, num2):
    """This is the function to divide 2 numbers"""
    d = num1/num2
    return(d)

# Create a function to find exponent of a number
def exp(num1, num2):
    """This is the function to find exponent of a number"""
    e = num1**num2
    return(e)

Writing test_math.py

## Lambda Functions

In [14]:
# creating a lambda function of adding 2 words
add = lambda x,y: x+y

add(1,2)

3

In [15]:
# creating a lambda function to check which number is greater
var = lambda x,y: "Greater" if x>y else "Lesser"

var(1,2)

'Lesser'

In [16]:
# creating a lambda function for multiplying 2 numbers
mult = lambda x,y: x*y

mult(6,15)

90

In [19]:
# lambda expression to convert celcius to kelvin

converter = lambda x: x + 273.15

converter(25)

298.15

In [25]:
string = input()

reversed = lambda reversed_string: reversed_string[::-1]

reversed("Shubh")

Shubh

'hbuhS'